@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

@import "tailwindcss";

/* src/index.css (or wherever you import global styles) */

/* Import Poppins weight 400 */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */








/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap'); */

/* :root {
  --vdo-green: #00B207;
} */

/* Apply Poppins as the base font */
/* body {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
} */

/* small utility to center star svg vertically with text baseline */
.icon-align {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

body{
  font-family: "Poppins", sans-serif;
}

.ischecked{
  text-decoration: line-through;
}

.range-input {
  position: absolute;
  width: 100%;
  height: 5.81px;
  appearance: none;
  background: transparent;
  pointer-events: none;
}

/* Chrome / Safari */
.range-input::-webkit-slider-thumb {
  appearance: none;
  pointer-events: auto;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 2px solid #00b207;
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
.range-input::-moz-range-thumb {
  pointer-events: auto;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 2px solid #00b207;
  border-radius: 50%;
  cursor: pointer;
}

.Toastify__toast {
  background: black !important;
  box-shadow: none !important;
  color: white !important;
}


.niconne {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}
