@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

@import "tailwindcss";

/* src/index.css (or wherever you import global styles) */

/* Import Poppins weight 400 */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */








/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap'); */

/* :root {
  --vdo-green: #00B207;
} */

/* Apply Poppins as the base font */
/* body {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
} */

/* small utility to center star svg vertically with text baseline */
.icon-align {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

body{
  font-family: "Poppins", sans-serif;
}

.ischecked{
  text-decoration: line-through;
}